:root {
    --background-color: #00090E;
    --text-color: #e1e1e1;
    --primary-color: #81fe88;
    --secundary-color: #888888;
    --tag-color: #171d1f;
    --font-family: "prompt" , 'Arial', sans-serif;
    --itens-background: #171d1f;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: start;

    height: 100vh;
    gap: 27px;
    padding: 56px 0;
}

aside {
    background-color: var(--itens-background);
    border-radius: 10px;
    height: 100%;
    padding: 40px 16px;
    text-align: center;
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    align-items: center;
    list-style-type: none;
}

.lista-links li a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 22px;
}