.destaque {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-5xl) 0;
  background-color: var(--cor-secundaria-light);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destaque-titulo {
  color: var(--cor-terciaria-dark);
}

.destaque-titulo > span {
  color: var(--cor-primaria-light);
}